body {
    margin: 0;
    width: fit-content;
    min-width: 100%;
    background: url(../streetBG.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    display: grid;
    grid-template-areas:
    "charGenerator charResult"
    "faveChars faveChars"
    "footer footer";
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    background-color: whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    border: 10px solid #3068B3;
}

nav {
    margin-bottom: 5%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FDF152;
}

li {
    float: left;
}

li a {
    display: block;
    color: #3068B3;
    text-align: center;
    text-decoration: none;
    padding: 10px 12px;
}

.charGetContainer {
    grid-area: charGenerator;
    display: flex;
    flex-flow: column;
    margin-left: 15%;
    margin-top: 10%;
    border: 2px solid black;
    background-color: #F38400;
    height: 40vh;
    width: 35vw;
}

#getCharacter{
    display: flex;
    text-align: center;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px;
}

#charButton, #searchBtn {
    background-color: #3068B3;
    border: #3068B3 2px solid;
    color: #F38400;
}



button {
    cursor: pointer;
}

form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

#characterResult {
    border: 2px dotted black;
    grid-area: charResult;
    margin-right: 15%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.charCard {
    justify-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 150px;
    max-height: 150px;
}

.charCard > img {
    max-width: 150px;
    max-height: 150px;
}

#faveContainer {
    grid-area: faveChars;
    border: 6px solid #FDF152;
    border-style: groove;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    background-color: #ACEB5A;
}

#favoriteChar {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 40vh;

}

#favoriteChar > div {
    /* border: 2px black solid; */
    max-width: 150px;
    max-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    font-size: small;

}

#favoriteChar > div > img {
    display: block;
    max-width: 75px;
    max-height: 75px;
    align-self: center;


}

#favoriteChar > div > button {
    display: flex;
    height: 5%;
    width: 5%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: Red;
    background-color: yellow;
    align-self:flex-end;

}

footer {
    grid-area: footer;

}
