.charCard {
    border: 2px solid black;
    max-width: 25vw;
}

#getCharacter{
    border: 2px solid green;
    width: 10vw;
    height: 10vw;
}

form {
    border: 2px solid red;
    /* max-width: 25vw;
    height: 10vw; */
}
