body {
    margin: 0;
    width: fit-content;
    min-width: 100%;
    background-image: url('https://media1.popsugar-assets.com/files/thumbor/s_s7XO8SyyICpHz8CLm0cCbp9wA/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2020/04/08/956/n/1922507/4dadda3b58741b2d_bob_s_burgers/i/Bob-Burgers-Zoom-Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    display: grid;
    grid-template-areas:
    "burgerGenerator burgerResult"
    "faveBurgers faveBurgers";
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    row-gap: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

nav {
    margin-bottom: 5%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FDF152;
}

li {
    float: left;
}

li a {
    display: block;
    color: #3068B3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.getBurgerContainer {
    grid-area: burgerGenerator;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 20%;
    margin-top: 25%;
    height: 35vh;
    width: 18vw;
}

#burgerBtn {
    border-width: 5px 4px 4px 5px;
    border-radius:97% 4% 95% 3%/3% 95% 4% 94%;
    border-color: black;
    background-color: orange;
    width: 15vw;
    height: 10vh;
}

#burgerCard {
    grid-area: burgerResult;
    border: 10px solid #663300;
    border-style: groove;
    margin-right: 15%;
    margin-top: 5%;
    display: flex;
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1614292264554-7dca1d6466d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2hhbGtib2FyZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60');
    height: 50vh;
    width: 25vw;
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}

.burger > button {
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    border: white solid;
    border-width: 2px 1px 1px 2px;
    border-radius:94% 3% 96% 4%/3% 93% 2% 94%;
    background: none;
    cursor: pointer;
}

#faveContainer {
    grid-area: faveBurgers;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    background-image: url('https://images.unsplash.com/photo-1614292264554-7dca1d6466d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2hhbGtib2FyZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60');
    border: 10px solid #663300;
    border-style: groove;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    min-height: 25vh;
    padding-bottom: 5%;
}

#favoriteBurg {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#favoriteBurg > div {
    max-height: 50vh;
    max-width: 25vw;
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
}

#favoriteBurg > div > button {
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    border: white solid;
    border-width: 2px 1px 1px 2px;
    border-radius:94% 3% 96% 4%/3% 93% 2% 94%;
    background: none;
}
